// .content {
//   background-color: #f0f0f0;
//   min-height: 50rem;
//   margin-bottom: 3rem;
//   display: grid;
  // Define the number and height of rows
  // grid-template-rows: 15rem 15rem;
  // Define the number and width of columns
  // grid-template-columns: 15rem 15rem 15rem;

  // Define the number and height of rows using REPEAT
  // grid-template-rows: repeat(2, 15rem);
  // Define the number and width of columns using REPEAT and FRACTIONAL UNIT
  // grid-template-columns: repeat(2, 15rem) 1fr;

  // Define the number and width of columns using FRACTIONAL UNITS
  // grid-template-columns: 1fr 2fr 1fr;
  
  // Define the number and width of columns using FRACTIONAL UNITS and percentage
  // grid-template-columns: 50% 1fr 1fr;

  // Define the number and width of columns using REPEAT and FRACTIONAL UNIT
  // grid-template-columns: repeat(3, 1fr);

  // Define gutter between rows
  // grid-row-gap: 2rem;
  // Define gutter between columns
  // grid-column-gap: 4rem;
  // Define the same gutter between rows and columns
  // grid-gap: 3rem;

  // &__box {
  //   color: #fff;
  //   font-size: 2rem;
  //   text-align: center;
  //   padding: 1rem;

  //   &--1 {
  //     background-color: blueviolet;
  //     // Define at which row this cell will start and end
  //     grid-row-start: 2;
  //     grid-row-end: 3;
  //     // Define at which column this cell will start and end
  //     grid-column-start: 2;
  //     grid-column-end: 4;
  //   }

  //   &--2 {
  //     background-color: indigo;
  //   }

  //   &--3 {
  //     background-color: forestgreen;
  //   }

  //   &--4 {
  //     background-color: olive;
  //   }

    // &--5 {
    //   background-color: brown;
      // Define at which row this cell will start and end
      // grid-row: 1 / 2;
      // Define at which column this cell will start and end
      // grid-column: 3 / 4;
    // }

//     &--6 {
//       background-color: tomato;
//     }
//   }
// }

// TESTING MORE ADVANCED FEATURES
.content {
  background-color: #f0f0f0;
  min-height: 50rem;
  margin-bottom: 3rem;
  display: grid;
  // Define rows
  // grid-template-rows: repeat(2, 1fr);
  // Define columns with max-content (the grid will fit the cell content width without line breaks)
  // grid-template-columns: max-content 1fr 1fr;

  // Define rows using min-content
  grid-template-rows: repeat(2, min-content);
  // Define columns with min-content (the grid will fit the cell content width with line breaks)
  grid-template-columns: min-content 1fr min-content;

  &__box {
    color: #fff;
    font-size: 2rem;
    text-align: left;
    padding: 1rem;

    &--1 {
      background-color: blueviolet;
    }

    &--2 {
      background-color: indigo;
    }

    &--3 {
      background-color: forestgreen;
    }

    &--4 {
      background-color: olive;
    }

    &--5 {
      background-color: brown;
    }

    &--6 {
      background-color: red;
    }
  }
}