body {
  font-family: 'Montserrat', sans-serif;
}

.container {
  max-width: 80rem;
  margin: auto;
}

.header {
  text-align: center;
  padding: 1rem;

  &__title {
    color: #444;
    font-size: 4rem;
  }
}

.content {
  background-color: #f0f0f0;
  height: 50rem;
  margin-bottom: 3rem;
  display: grid;
  // Define the number and height of rows
  grid-template-rows: 15rem 15rem;
  // Define the number and width of columns
  grid-template-columns: 15rem 15rem 15rem;
  // Define gutter between rows
  grid-row-gap: 2rem;
  // Define gutter between columns
  grid-column-gap: 2rem;

  &__box {
    color: #fff;
    font-size: 2rem;
    text-align: center;
    padding: 1rem;

    &--1 {
      background-color: blueviolet;
    }

    &--2 {
      background-color: indigo;
    }

    &--3 {
      background-color: forestgreen;
    }

    &--4 {
      background-color: olive;
    }

    &--5 {
      background-color: brown;
    }

    &--6 {
      background-color: tomato;
    }
  }
}